body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.image img {
    height: auto;
    display: block;
    margin: auto;
    width: 70%;
}