body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.image img {
    height: auto;
    display: block;
    margin: auto;
    width: 70%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.card img {
    height: auto;
    display: block;
    margin: auto;
    max-width: 300px;
}

.container {
    padding: 0 16px;
}
