extends layout

block content

    div.design
        ul.list
          lli.dish Blueberry Chocolate Cups
          li.title Ingredients
          li 1,5 cups blueberries
          li 0,5 tbsp honey
          li 1 tbsp lemon juice
          li 2/3 cup natural (unsweetened/salted) almond butter
          li 170g dark chocolate, roughly chopped
          li Non-stick cupcake liners, small or large