extends layout

block content
  h1 Roasted Blueberry Almond Butter Dark Chocolate Cups
  div.iconbar
      ul.fa-ul
          li
            i.fa-li.fa.fa-home
            a(href='index') Home 
          li
            i.fa-li.fa.fa-search
            a(href='search') Search
          li
            i.fa-li.fa.fa-plus
            a(href='add') Add
          li
            i.fa-li.fa.fa-cog
            a(href='settings') Settings 

  div.recipeimage
    img(src="/images/blueberry.jpg") 

  h3 Ingredients
  div.ingredients
    ul
        li 1.5 cups blueberries
        li 0.5 tbsp honey
        li 1 tbsp lemon juice
        li 2/3 cup natural (unsweetened/salted) almond butter
        li 170g dark chocolate, roughly chopped

  h3 Preparation Directions 
  div.steps
    ul 
        li Preheat the oven to 180C.
        li In a medium-sized bowl, combine the blueberries, honey and lemon juice. 
        li Mix well. Place in a single layer on an oven-tray and roast for 10-15 minutes 
        li Let cool at room temperature.

        li While the blueberries are roasting, melt the chocolate in a tight-fitting bowl over a pot of boiling water. 
        li When the chocolate is melted, place a tablespoon of it into a cupcake liner and swirl it around to coat the sides about 2-3 cm high. 
        li Repeat with the rest of the liners and place in the freezer to solidify for 15-30 minutes. 

        li When the chocolate has solidified, place a teaspoon of almond butter in each and top with a tablespoon of roasted blueberries and their juices. 
        li Top with a tablespoon of melted chocolate (if it has solidified then place in back over boiling water, slowly heat it up again). 
        li Place the cups in the freezer for 30 minutes or until solidified. Keep in the fridge or freezer. Enjoy!