extends layout

block content

    div.design
        ul.list
          lli.dish Easy Potato Dahl
          li.title Ingredients
          li 2 tbsp cooking oil
          li 1/2 yellow onion, roughly chopped
          li 3 large garlic cloves, minced
          li 1 inch piece of ginger, minced
          li 1 small red chilli, finely chopped
          li 1 tsp ground cumin
          li 1 tsp ground coriander
          li 1 tsp ground turmeric
          li 1/2 tsp ground cinnamon
          li 3 tbsp medium curry powder/curry paste of your liking
          li 1 tsp smoked paprika
          li 1/2 tbsp dried curry leaves
          li juice from 1/2 medium-sized lime, more if needed
          li 2 potatoes, roughly chopped
          li 1 can chopped tomatoes (400g)
          li 200 ml coconut cream
          li 1 cup water
          li 1 cup red lentils
          li salt, to taste
          li pepper, to taste
          li fresh coriander (cilantro) for garnish
          li 2 cups cooked  basmati rice, to serve
          li freshly baked flatbreads, to serve