extends layout

block content
  h1= "Cooking Assistant"
  div.iconbar
      ul.fa-ul
          li
            i.fa-li.fa.fa-home
            a(href='index') Home 
          li
            i.fa-li.fa.fa-search
            a(href='search') Search
          li
            i.fa-li.fa.fa-plus
            a(href='add') Add
          li
            i.fa-li.fa.fa-cog
            a(href='settings') Settings 


  div.image
    img(src="/images/main.jpg") 
 


  div.allcards  

      div.card2
        img(src="/images/fig.jpg")
        div.container
          h4.title Overnight Blueberry Muesli
          ul.fa-ul
            li
              i.fa-li.fa.fa-shopping-basket
              a(href='muesliingre') Ingredients 

            li
              i.fa-li.fa.fa-list-ul
              a(href='mueslisteps') Steps

      div.card1
        img(src="/images/pump.jpg")
        div.container
          h4.title Easy Potato Dahl
          ul.fa-ul
            li
                i.fa-li.fa.fa-shopping-basket
                a(href='dahlingre') Ingredients
            li
                i.fa-li.fa.fa-list-ul
                a(href='dahlsteps') Steps

      div.card3
        img(src="/images/blueberry.jpg")
        div.container
          h4.title Blueberry Almond Butter Chocolate Cups
          ul.fa-ul
            li
              i.fa-li.fa.fa-shopping-basket
              a(href='chocoingre') Ingredients

            li
              i.fa-li.fa.fa-list-ul
              a(href='chocosteps') Steps

      
