extends layout

block content
  h1= "Cooking Assistant"
  p Welcome to Cooking Assistant

  div.image
    img(src="/images/main.jpg")

  div.card
    img(src="/images/pump.jpg")
    div.container
      h4 Easy Potato Dahl
      ul.fa-ul
        li
            i.fa-li.fa.fa-shopping-basket
            a(href='pumpingredients') Ingredients
        li
            i.fa-li.fa.fa-list-ul
            a(href='pumpsteps') Steps

    div.card
      img(src="/images/blueberry.jpg")
      div.container
        h4 Overnight Blueberry Muesli
        ul.fa-ul
          li
            i.fa-li.fa.fa-shopping-basket
            a(href='pumpingredients') Ingredients
          li
            i.fa-li.fa.fa-list-ul
            a(href='pumpsteps') Steps

    div.card
      img(src="/images/pump.jpg")
      div.container
        h4 Easy Potato Dahl
        ul.fa-ul
          li
            i.fa-li.fa.fa-shopping-basket
            a(href='pumpingredients') Ingredients
          li
            i.fa-li.fa.fa-list-ul
            a(href='pumpsteps') Steps

    
