extends layout

block content

  div.iconbar
      ul.fa-ul
           li
             i.fa-li.fa.fa-home
             a(href='index') Home 
           li
             i.fa-li.fa.fa-search
             a(href='search') Search
           li
             i.fa-li.fa.fa-plus
             a(href='add') Add
           li
             i.fa-li.fa.fa-cog
             a(href='settings') Settings 
     br

  div.design
      ul.list
        lli.dish Overnight Blueberry Muesli
        li.title Ingredients
        li 1 cup rolled oats
        li 2 tbsp chia seeds
        li 2 tbsp coconut flakes
        li 2 tbsp maple syrup
        li 1 ripe banana, mashed
        li 2 tbsp blueberries + more to serve
        li 400 ml almond milk
        li 1 fig, thinly sliced, to serve
        li 2 tbsp raspberries, to serve