extends layout

block content

    div.design
        ul.list
          lli.dish Overnight Blueberry Muesli
          li.title Ingredients
          li 1 cup rolled oats
          li 2 tbsp chia seeds
          li 2 tbsp coconut flakes
          li 2 tbsp maple syrup
          li 1 ripe banana, mashed
          li 2 tbsp blueberries + more to serve
          li 400 ml almond milk
          li 1 fig, thinly sliced, to serve
          li 2 tbsp raspberries, to serve